@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Outfit:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  /* width: 1440px; */
  padding: 0px 165px;
  background-color: F2F2F2;
  overflow-x: hidden;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
}

nav .logo {
  height: 40px;
}

.preorder {
  width: 175px;
  height: 58px;
  font-size: 16px;
  font-weight: 700;
  color: #162542;
  background-color: #e8eff2;
  border: none;
  outline: none;
  border-radius: 8px;
  text-transform: uppercase;
}

nav .preorder:hover {
  background-color: #162542;

  color: #ffff;
  cursor: pointer;
}

header {
  margin-top: 83px;
}
header .first {
  display: flex;
  justify-content: space-between;
}

.keyboard-preorder {
  /* width: 445px; */
  padding: 10px;
}

.keyboard-preorder h1 {
  color: #162542;
  font-size: 56px;
  font-weight: 900;

  text-transform: uppercase;
  line-height: 56px;
}
.keyboard-preorder p {
  color: #7b8bad;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 24px;
  text-align: left;
  width: 445px;
}
.keyboard-preorder span {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #7b8bad;
  display: inline-block;
  margin-top: 56px;
  margin-left: 40px;
}

.preorder.h {
  background-color: #f16718;
  color: #ffff;
}
.preorder.h:hover {
  cursor: pointer;
  background-color: #ff9b62;
}

.keyboard-img > .keyboard {
  max-width: 540px;
  height: 480px;
  border-radius: 20px;
}
.keyboard-img .left-deco {
  position: absolute;
  top: 196px;
  left: 1305px;

  width: 255px;
  height: 240px;
  background-color: #e8eff2;
  border-radius: 20px;
}

.second {
  margin-top: 37px;
}

.second .image-phone {
  width: 255px;
  height: 480px;
  border-radius: 20px;
  background-image: url(./assets/desktop/image-phone-and-keyboard.jpg);

  /* position: absolute; */

  /* background-color: #f16718; */

  background-size: cover;
  position: relative;
  display: inline-block;
  margin-right: 30.5px;
}

.image-phone::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f16718;
  border-radius: 20px;
  /* z-index: -1; */

  opacity: 0.75;
}

.image-glass {
  background-image: url(./assets/desktop/image-glass-and-keyboard.jpg);
  background-size: cover;
  width: 445px;
  height: 480px;
  border-radius: 20px;
  display: inline-block;
}

.parent-right {
  display: inline-block;
}
.parent-h2 {
  position: absolute;
  display: inline-block;
  width: 255px;
  height: 265px;
  margin-left: 100px;
  top: 818px;

  /* position: absolute; */
}

.parent-h2 h2 {
  font-size: 32px;
  color: #162542;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
}

.parent-h2 p {
  color: #7b8bad;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 27px;
  /* width: 255px; */
  text-align: left;
  /* padding-right: 20px; */
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 30px;

  margin-top: 32px;
}
footer .child {
  width: 255px;
  height: 323px;
}

footer .child .logo {
  background-color: #f16718;
  width: 65px;
  height: 65px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child .text-h {
  margin-top: 48px;
}

.text-h h3 {
  font-size: 24px;
  line-height: 28px;
  color: #162542;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.text-h p {
  font-size: 16px;
  font-weight: 500;
  color: #7b8bad;
  line-height: 26px;
  text-align: left;
  width: 255px;
}

.logo .compatible {
  width: 25px;
  height: 16px;
}

.hey {
  width: 270px;
  height: 26px;
  margin-top: 128px !important;
  margin-bottom: 39px !important;
  margin: auto;
}

.hey span {
  color: #7b8bad;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}
